@import "styles/partials/_colors.scss";
@import "styles/partials/_margins.scss";
@import "styles/partials/_deviceSizes.scss";
@import "styles/partials/_boxShadow.scss";

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (max-width: $tablet) {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    >div {
      margin-bottom: 2rem;
    }
  }
}

.card {
  padding: 1.5rem; 
  width: 30%;
  border-radius: 10px;
  font-weight: bold;
  background-color: #ffffff;

  @media screen and (max-width: $tablet) {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    >div {
      margin-right: 1rem;
    }
  }

  &__img {
    margin-bottom: 1rem;
  }

  &__body p {
    font-size: 1.0rem;
    font-weight: normal;
  }
}
