@import "styles/partials/_colors.scss";

.tooltip {
  padding: 1.4rem !important;
  box-shadow: 0 0 12px rgba(204, 210, 234, 0.4);
  background-color: white !important;
  opacity: 1;
}

.processTriangle {
  &:hover {
    fill:#E5F2F9;
    stroke: $color-blue;
    cursor: pointer;
    opacity: 1;
  }
}

.noHover {
  pointer-events: none;
}