@font-face {
  font-family: Telegraf;
  src: url("../../assets/fonts/Telegraf\ Regular\ 400.otf") format("opentype");
}

@font-face {
  font-family: Telegraf;
  font-weight: bold;
  src: url("../../assets/fonts/Telegraf\ UltraBold\ 800.otf") format("opentype");
}

@font-face {
  font-family: Telegraf;
  font-weight: lighter;
  src: url("../../assets/fonts/Telegraf\ UltraLight\ 200.otf") format("opentype");
}

