@import "styles/partials/_margins.scss";
@import "styles/partials/_colors.scss";
@import "styles/partials/_deviceSizes.scss";

.container {
  height: 5rem;
  display: flex;
  flex-direction: row;
  padding: 0.5rem $nav-margin-horizontal;
  align-items: center;
  z-index: 10;
  background-color: $color-background-blue;

  @media screen and (max-width: $phone) {
    padding: 0.5rem $nav-margin-horizontal-sm;
  }
}

a {
  text-decoration: none !important;
  color: black !important;
  transition: color 0.2s ease;
    &:hover{
      color: $color-blue !important;
    }
}

.link {
  &__home {
    flex: 1;
  }

  &__process {
    margin-right: 4rem;
  }
}