@import "styles/partials/_margins.scss";
@import "styles/partials/_colors.scss";
@import "styles/partials/_deviceSizes.scss";

.container {
  padding: 0 $nav-margin-horizontal;
  font-size: 1rem;
  height: 5rem;
  display: flex;
  align-items: center;
  background-color: $color-background-blue;

  @media screen and (max-width: $phone) {
    padding: 0 $nav-margin-horizontal-sm;
  }
}
