@import "styles/partials/_deviceSizes.scss";

@media screen and (min-width: $desktop) {
  .hexagonRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (max-width: $desktop) {
  .hexagonRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.name {
  &__title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  &__subtitle {
    font-size: 0.8rem;
  }

  @media screen and (min-width: $desktop) {
    &__matt, &__haley, &__caitlin {
      position: relative;
      text-align: center;
      padding-bottom: 2rem;
    }

    &__margot, &__michael {
      position: relative;
      padding-top: 2rem;
      text-align: center;
    }
  }

  @media screen and (max-width: $desktop) {
    &__matt, &__haley, &__caitlin, &__margot, &__michael {
      position: relative;
      text-align: center;
      padding-bottom: 2rem;
    }
  }
}

.hexagonContainer {
  margin-top: 2rem;
}

.hexagon {
  clip-path: polygon(100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0, 75% 0);
  height: 200px;
  width: 200px;
  margin: 0 1rem;
  
  &--pushDown {
    @media screen and (min-width: $desktop) {
      margin-top: 200px;
    }
  }

  &__matt {
    @extend .hexagon;
    background: url("../../assets/images/team/matt.png") no-repeat;
    background-size: cover;
  }

  &__margot {
    @extend .hexagon;
    @extend .hexagon--pushDown;

    position: relative;
    background: url("../../assets/images/team/margot.png") no-repeat;
    background-size: cover;
  }

  &__haley {
    @extend .hexagon;
    background: url("../../assets/images/team/haley.png") no-repeat;
    background-size: cover;
  }

  &__michael {
    @extend .hexagon;
    @extend .hexagon--pushDown;
    background: url("../../assets/images/team/michael.png") no-repeat;
    background-size: cover;
  }

  &__caitlin {
    @extend .hexagon;
    background: url("../../assets/images/team/caitlin.png") no-repeat;
    background-size: cover;
  }
}  