@import "styles/partials/_colors.scss";
@import "styles/partials/_margins.scss";
@import "styles/partials/_deviceSizes.scss";

.background {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 70vh;
  background-color: $color-background-blue;
}

.squiggly {
  position: absolute;
  z-index: -5;
  top: 55vh;

  @media screen and (max-width: $desktop) {
    display: none;
  }
}

.headerContainer {
  padding: 4rem 0 $heading-margin-horizontal 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  @media screen and (max-width: $desktop) {
    padding: 10rem 4rem 4rem 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__img {
    width: 60%;
    
    @media screen and (max-width: $desktop) {
      width: 80%;
    }

    >img {
      width: 100%;
      max-height: 100%
    }
  }
}

.list {
  margin: 4rem 8rem;

  @media screen and (max-width: $desktop) {
    margin: 4rem 2rem;
  }

  &__row {
    display: flex;
    flex-direction: row;
    margin-bottom: 8rem;

    @media screen and (max-width: $phone) {
      text-align: center;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__rowOffset {
    @extend .list__row;
    margin-left: 10rem;

    @media screen and (max-width: $desktop) {
      margin-left: 0;
    }
  }

  &__img  {
    height: 400px;
    @media screen and (max-width: $desktop) { height: 300px }
    @media screen and (max-width: $tablet) { height: 200px }

    > img {
      height: 100%;
      width: auto;
    }
  }
}

.content {
  margin-left: 4rem;
  @media screen and (max-width: $phone) { margin-left: 0; }

  &__name {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    @media screen and (max-width: $phone) { margin-top: 1rem; }
  }

  &__position {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
}