@import "styles/partials/_colors.scss";
@import "styles/partials/_margins.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
  top: 25vh;
}

.spacing {
  height: 35vh;
}

.backgroundContainer {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-color: $color-background-blue;
}

.headingText {
  margin: 2rem 0;
}

.bgImg {
  position: absolute;

  &__star{
    @extend .bgImg;
    top: 10vh;
    right: 0;
  }

  &__squiggly{
    @extend .bgImg;
    top: 50vh;
  }
}

.headerImg {
  max-height: 500px;
}

.infoBlock {
  padding: 4rem $nav-margin-horizontal;

  &__subtitle {
    margin: 2rem 0;
    font-size: 1.5rem;
    font-weight: 200;
  }
  
  &__title {
    margin-bottom: 2rem;
    font-size: 2.5rem;
  }

  &__withBackground {
    @extend .infoBlock;
    background-color: $color-background-blue;
  }
}

.carousel {
  &:hover {
    cursor: grab;
  }
}

.seeMore {
  margin: 1rem 0;
  font-size: 1.2rem;
  text-align: right;
}