@import "styles/partials/_colors.scss";
@import "styles/partials/_margins.scss";
@import "styles/partials/_deviceSizes.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: $phone) {
    height: 100vh;
    background-color: $color-background-blue;
  }
}

.spacing {
  height: 18vh;
  @media screen and (max-width: $phone) {
    display: none;
  }
}

.headingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 64%;

  @media screen and (max-width: $phone) {
    width: 90%;
  }
}

.backgroundContainer {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-color: $color-background-blue;
  @media screen and (max-width: $phone) {
    display: none;
  }
}

.headingText {
  margin: 2rem 0;
}

.bgImg {

  @media screen and (max-width: $desktop) {
    display: none;
  }

  position: absolute;

  &__star{
    @extend .bgImg;
    top: 10vh;
    right: 0;
  }

  &__squiggly{
    @extend .bgImg;
    top: 50vh;
  }
}

.headerImg {
  max-height: 500px;
}

.headingImgSm {
  padding: 0 1rem;
}

.processImg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.infoBlock {
  padding: 4rem $nav-margin-horizontal;

  @media screen and (max-width: $phone) {
   padding: 4rem $nav-margin-horizontal-sm;
  }

  &__subtitle {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 200;
  }
  
  &__title {
    margin-bottom: 2rem;
    font-size: 2.5rem;
  }

  &__withBackground {
    @extend .infoBlock;
    background-color: $color-background-blue;
  }
}

.carousel {
  &:hover {
    cursor: grab;
  }
}

.seeMore {
  margin: 1rem 0;
  font-size: 1.2rem;
  text-align: right;

  @media screen and (max-width: $phone) {
    margin-top: 3rem;
  }
}