@import "styles/partials/_colors.scss";
@import "styles/partials/_margins.scss";
@import "styles/partials/_deviceSizes.scss";

.header {
  width: 100%;
  height: 60vh;
  background-color: $color-background-blue;
  display: flex;
  flex-direction: column;
  padding-top: 20vh;
  padding-left: $heading-margin-horizontal;

  @media screen and (max-width: $phone) {
    justify-content: flex-start;
    text-align: left;
    padding-left: $nav-margin-horizontal-sm;
    padding-right: $nav-margin-horizontal-sm;
    padding-top: 25vh;
  }
}

.bgImg {
  &__squiggly {
    position: absolute;
    right: $heading-margin-horizontal;

    @media screen and (max-width: $desktop) {
      display: none;
    }
  }
}

.subsection {
  margin: 2rem 0 4rem 0;

  > div {
    margin-bottom: 1.5rem;
  }

  > div:last-of-type {
    margin-bottom: 0;
  }

  &__boxed {
    font-size: 1.2rem;
    padding: 2rem;
    border: 2px solid black; 
  }
}

.subsection:last-of-type {
  margin-bottom: 0;
}

.section {
  padding-top: 4rem;
  margin-bottom: 4rem;

  &__title {
    font-size: 1.5rem;
    color: $color-grey;
  }

  &__noTopPadding {
    @extend .section;
    padding-top: 0;
  }
}

.section:last-of-type {
  margin-bottom: 0;  
}

.content {
  margin: 4rem $heading-margin-horizontal 8rem $heading-margin-horizontal;
  display: grid;
  grid-template-columns: 1fr 3fr;

  @media screen and (max-width: $phone) {
    display: flex;
    flex-direction: column;
    margin: 4rem $nav-margin-horizontal-sm;
  }

  &__navigation {
    margin-top: 4rem;

    @media screen and (max-width: $phone) {
      display: none;
    }

    > div {
      position: sticky;
      top: 10rem;
  
      > a {
        display: block;

        &:hover {
          color: $color-blue !important;
          cursor: pointer;
        }
      }
    }
  }
}

.conclusion {
  background-color: $color-background-blue;
  padding: 8rem $heading-margin-horizontal;

  @media screen and (max-width: $phone) {
    display: flex;
    flex-direction: column;
    padding: 4rem $nav-margin-horizontal-sm;
  }
}

.notCurrent {
  color: #828282 !important;
}

.current {
  color: black !important;
}