@import "styles/partials/_colors.scss";
@import "styles/partials/_margins.scss";
@import "styles/partials/_deviceSizes.scss";

.header {
  width: 100%;
  height: 60vh;
  background-color: $color-background-blue;
  display: flex;
  flex-direction: column;
  padding-top: 20vh;
  padding-left: $heading-margin-horizontal;

  @media screen and (max-width: $phone) {
    justify-content: flex-start;
    text-align: left;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 25vh;
  }
}

.bgImg {
  &__squiggly {
    position: absolute;
    right: $heading-margin-horizontal;

    @media screen and (max-width: $desktop) {
      display: none;
    }
  }
}

.content {
  margin: 4rem $heading-margin-horizontal 8rem $heading-margin-horizontal;
  display: grid;
  grid-template-columns: 1fr 3fr;

  @media screen and (max-width: $phone) {
    display: flex;
    flex-direction: column;
    margin: 4rem;
  }

  &__section {
    padding-top: 4rem;
    margin-bottom: 4rem;
  }

  &__title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: $color-grey;
  }

  &__subtitle {
    margin-bottom: 1.5rem;
  }

  &__navigation {
    margin-top: 4rem;

    @media screen and (max-width: $phone) {
      display: none;
    }

    > div {
      position: sticky;
      top: 10rem;
  
      > a {
        display: block;

        &:hover {
          color: $color-blue !important;
          cursor: pointer;
        }
      }
    }
  }
}

.notCurrent {
  color: #828282 !important;
}

.current {
  color: black !important;
}